@import "tailwindcss";
@plugin "@midudev/tailwind-animations";
@import 'primeicons/primeicons.css';


@keyframes welcome-animation {
    0%{
        border-radius: 6px;
        background-image: linear-gradient(rgb(255, 0, 0), rgb(184, 27, 27));
        color: transparent;
        background-clip: text;
    }
    100%{
        border-radius: 6px;
        background-image: linear-gradient(rgb(163, 20, 20), rgb(255, 0, 0));
        color: transparent;
        background-clip: text;
        font-size: 24px;
    }
}

.welcome{
    animation: welcome-animation 1.8s infinite;
}